pypdf
langchain
langchain-ollama
langchain-chroma
langchain-community
langchain-openai
chromadb # Vector storage
pytest
boto3
sentence-transformers
torch
transformers
pyyaml # YAML configuration support
